rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow get;
      allow create: if isSigneIn() && isNotExist();
      allow update: if request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read;
      allow create: if isSigneIn() && isNotExist();
      allow update: if isSigneIn() && (isUpVote(postId) || isDownVote(postId));
      allow delete: if isSigneIn() && request.auth.uid == resource.data.userId;
    }

    match /comments/{postId} {
      allow get;
      allow create: if isSigneIn() && isNotExist();
      allow update: if isSigneIn();
    }


    function isSigneIn() {
      return request.auth != null;
    }

    function isNotExist() {
      return resource == null;
    }

    function isUpVote(postId) {
      return request.writeFields.size() == 1 &&
             'score' in request.writeFields &&
             (postId in (get(/databases/$(database)/documents/users/$(request.auth.uid)).data).voted);

    }

    function isDownVote(postId) {
      return request.writeFields.size() == 1 &&
             'score' in request.writeFields &&
             !(postId in (get(/databases/$(database)/documents/users/$(request.auth.uid)).data).voted);

    }
  }
}
